In [ ]:
# BASIC ATM MACHINE PROJECT

1. Print a main menu:
Welcome to Northern Frock
2. 1 - Display balance
3. 2 - Withdraw funds
4. 3 - Deposit funds
5. 9 - Return card
Enter an option:
6. If ‘1’ is entered, display the current balance and the maximum amount available for withdrawal (must be a multiple of £10), and return to main menu.
7. If ‘2’ is entered, print a sub-menu with withdrawal amounts of:
Please select withdrawal amount
8. 1 - £10
9. 2 - £20
10. 3 - £40
11. 4 - £60
12. 5 - £80
13. 6 - £100
14. 7 - Other amount
15. 8 - Return to main menu
Enter an option:
a. If ‘1 to 6’’ is selected check that the requested withdrawal is allowed, print a message to show that the money has been withdrawn, calculate the new balance and return to main menu.
b. If ‘7’ is selected, then prompt the user for an integer value. Check this number is a multiple of 10 and that the withdrawal is permitted, print a message to show that the money has been withdrawn, calculate the new balance and return to main menu.
c. If ‘8’ is selected return to main menu.
16. If ‘3’ is entered, provide another menu that will allow the user to enter an amount to deposit (does not need to be a multiple of £10), return to main menu or return card. If funds are deposited, provide appropriate feedback and update the balance and return to main menu.
17. If ‘9’ is entered, print a goodbye message and exit (break).
18. If another value is entered, print an error message and print the menu again.

In [1]:
import pandas as pd
import numpy as np

In [3]:
print('Welcome to Northern Frock')
withdraw_amount = pd.Series(['£10','£20','£40','£60','£80','£100','other amount','Return to main menu'],[1,2,3,4,5,6,7,8])
menu = pd.Series(['Display Balance','Wthdraw Funds','Deposit Funds','Return Card'],[1,2,3,9])
print(menu)
while True:
  option = int(input("Enter an option: "))
  if option==1:
      print('Current Balance:£100')
      print('Available balance:£90')
      break
print(menu)
option = int(input("Enter an option: "))
if option ==2:
      print('please select withdraw amount:\n')
      print(withdraw_amount)
option = int(input("Enter an option: "))
if option >=1 and option < 7:
    print('please take your cash')
Available_balance = 90
amount = [10,20,40,60,80,100]
new_balance = Available_balance - amount[2]
print('Available Balance:','£',(new_balance))
print('please select withdraw amount:\n')
print(withdraw_amount)
option = int(input("Enter an option: "))
if option == 7:
  other_amount = int(input("Enter other amount: "))
  if other_amount%10 == 0 and other_amount <=100:
     print('please take your cash')
     new_balance2 = new_balance - other_amount
     print('Available Balance:','£',(new_balance2))
print(menu)
option = int(input("Enter an option: "))
if option == 3:
  deposit_amount = int(input("Enter amount to deposit: "))
  new_balance3 = Available_balance + deposit_amount
  print('Cash deposited successfully!')
  print('Available Balance:','£',(new_balance3))
  print(menu)
option = int(input("Enter an option: "))
if option == 9:
  print('Thank you for Banking with us, bye for now')
else:
  print('sorry! wrong input')
  print(menu)

Welcome to Northern Frock
1    Display Balance
2      Wthdraw Funds
3      Deposit Funds
9        Return Card
dtype: object
Enter an option: 1
Current Balance:£100
Available balance:£90
1    Display Balance
2      Wthdraw Funds
3      Deposit Funds
9        Return Card
dtype: object
Enter an option: 2
please select withdraw amount:

1                    £10
2                    £20
3                    £40
4                    £60
5                    £80
6                   £100
7           other amount
8    Return to main menu
dtype: object
Enter an option: 3
please take your cash
Available Balance: £ 50
please select withdraw amount:

1                    £10
2                    £20
3                    £40
4                    £60
5                    £80
6                   £100
7           other amount
8    Return to main menu
dtype: object
Enter an option: 7
Enter other amount: 30
please take your cash
Available Balance: £ 20
1    Display Balance
2      Wthdraw Funds
3      Deposit Funds
9        Return Card
dtype: object
Enter an option: 3
Enter amount to deposit: 100
Cash deposited successfully!
Available Balance: £ 190
1    Display Balance
2      Wthdraw Funds
3      Deposit Funds
9        Return Card
dtype: object
Enter an option: 9
Thank you for Banking with us, bye for now